body {
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    background-color: #f2f2f2;
    width: 1200px;
    box-shadow: 0 0 40px 10px #dbdbdb;
}

a {
    text-decoration: none;
}

.visually-hidden {
    display: none;
}


/* Стилизация хедера */

.main-header {
    width: 1200px;
    margin: 0 auto;
    height: 56px;
    position: relative;
    padding: 0;
}

.main-logo {
    position: absolute;
    top: 0px;
    left: 531px;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    background-color: white;
    height: 56px;
    padding: 0;
    margin: 0;
}

.main-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    height: 56px;
    width: 1056px;
}

.main-navigation-list li {
    padding: 0;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.main-navigation-list li:nth-of-type(1),
.main-navigation-list li:nth-of-type(2) {
    justify-content: flex-start;
}

.main-navigation-list li:nth-of-type(3),
.main-navigation-list li:nth-of-type(4) {
    justify-content: flex-end;
}

.main-navigation-list li:nth-of-type(3) {
    margin-left: auto;
    margin-right: ;
}

.main-navigation-list li:nth-of-type(2) {
    letter-spacing: 0.1px;
}

.main-navigation-list li:nth-of-type(3) {
    letter-spacing: 0.5px;
}


.main-navigation-list a {
    color: black;
    font-weight: 700;
    padding: 0;
}

.main-navigation-list a:hover {
    color: #81b3d2;
}


.main-navigation-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list .current-page {
    color: #766357;
}

/* Стилизация основного содержания */

.container {
    width: 1200px;
    margin: 0 auto;
}

.sedona-promo {
    background-image: url(../img/sedona-main.jpg);
    background-color: #1e2f3c;
    margin-top: -56px;
    background-repeat: no-repeat;
    height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sedona-promo img {
    width: 458px;
    height: 352px;
    margin-bottom: 23px;
}

.sedona-promo::after {
    content: "";
    background-image: url(../img/sedona-mask.png);
    width: 1200px;
    height: 57px;
}

.advantages-header {
    height: 216px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.advantages-header b {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 450px;
    letter-spacing: 0.1px;
    margin-bottom: 13px;
}

.advantages-header p {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #333333;
    text-align: center;
    margin-bottom: 52px;
}

/* Стилизация блока преимуществ */

.advantages-list {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
}

.advantages-list li {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 256px;
    align-items: center;
}

.advantages-list li:nth-of-type(2),
.advantages-list li:nth-of-type(6) {
    flex-basis: 800px;
}

.advantages-list li:nth-of-type(3),
.advantages-list li:nth-of-type(4),
.advantages-list li:nth-of-type(5) {
    min-height: 330px;
}

.advantages-list h3 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 151px;
    padding: 0;
    margin: 0;
    margin-top: 47px;
}

.advantages-list p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 280px;
    padding: 0;
    margin: 0;
}

.advantages-list .advantage-description {
    margin-bottom: 59px;
}

.advantages-item {
    height: 256px;
}

.advantages-item:nth-of-type(1),
.advantages-item:nth-of-type(7) {
    background-color: #81b3d2;
    width: 400px;
    color: white;
}


.advantages-item:nth-of-type(2),
.advantages-item:nth-of-type(6) {
    width: 800px;
}

.advantages-item:nth-of-type(3),
.advantages-item:nth-of-type(4),
.advantages-item:nth-of-type(5),
.advantages-item:nth-of-type(8),
.advantages-item:nth-of-type(9),
.advantages-item:nth-of-type(10) {
    width: 400px;
}

.advantages-item:nth-of-type(3) p,
.advantages-item:nth-of-type(4) p,
.advantages-item:nth-of-type(5) p,
.advantages-item:nth-of-type(8) p,
.advantages-item:nth-of-type(9) p,
.advantages-item:nth-of-type(10) p {
    color: #333333;
}

.advantages-item:nth-of-type(8),
.advantages-item:nth-of-type(9),
.advantages-item:nth-of-type(10) {
    background-color: #eeeeee;
}

.advantages-item:nth-of-type(3) h3,
.advantages-item:nth-of-type(4) h3,
.advantages-item:nth-of-type(5) h3 {
    margin-top: 0px;
    margin-bottom: -5px;
    line-height: 21px;
}

.advantages-item:nth-of-type(3) .advantage-description,
.advantages-item:nth-of-type(4) .advantage-description,
.advantages-item:nth-of-type(5) .advantage-description {
    line-height: 21px;
    width: 285px;
    margin-bottom: 82px;
}

.advantages-item:nth-of-type(3)::before {
    content: "";
    background-image: url(../img/icon-1.svg);
    width: 75px;
    height: 72px;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.advantages-item:nth-of-type(4)::before {
    content: "";
    background-image: url(../img/icon-3.svg);
    width: 74px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-top: 61px;
}

.advantages-item:nth-of-type(7) h3 {
    width: 160px;
}

.advantages-item:nth-of-type(7) .advantage-description {
    width: 303px;
}

.advantages-item:nth-of-type(1) h3,
.advantages-item:nth-of-type(7) h3 {
    line-height: 21px;
}

.advantages-item:nth-of-type(1) .advantage-description,
.advantages-item:nth-of-type(7) .advantage-description {
    line-height: 21px;
}

.advantages-item:nth-of-type(5)::before {
    content: "";
    background-image: url(../img/icon-2.svg);
    width: 64px;
    height: 76px;
    margin: 0;
    padding: 0;
    margin-top: 56px;
}

.advantages-item:nth-of-type(8) h3,
.advantages-item:nth-of-type(9) h3,
.advantages-item:nth-of-type(10) h3 {
    line-height: 21px;
}

.advantages-item:nth-of-type(8) .advantage-description,
.advantages-item:nth-of-type(9) .advantage-description,
.advantages-item:nth-of-type(10) .advantage-description {
    line-height: 21px;
}

.main-hotels {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 291px;
    position: relative;
}


.main-hotels b {
    font-size: 30px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}

.main-hotels p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 437px;
    margin: 0;
    padding: 0;
    margin-bottom: 47px;
}

.main-hotels button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #766357;
    color: white;
    width: 568px;
    height: 86px;
    border: none;
    box-sizing: border-box;
}

.main-hotels button:hover {
    background-color: #604e43;
}

.main-hotels button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.main-map {
    height: 601px;
    margin-bottom: -8px;
    background-color: #cbdda9;
    position: relative;
}

.main-map img {
    position: absolute;
    z-index: 1;
}

.main-map iframe {
    position: absolute;
    z-index: 2;
    border: none;
}


/* Стилизация футера */

.main-footer {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-footer-index {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -128px;
    position: relative;
    z-index: 3;
}

.main-footer-hotels {
    margin-top: 8px;
}

.main-footer .footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-left: 132px;
    padding-bottom: 3px;
}

.footer-social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 150px;
    margin-left: 257px;
}


.footer-social .social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: block;
}

.footer-social .social-button:hover {
    background-color: #669ec0;
}

.footer-social .social-button:active {
    background-color: #5496bd;
}

.twitter {
    background-image: url(../img/twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.fb {
    background-image: url(../img/fb-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.youtube {
    background-image: url(../img/youtube.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.developer {
    width: 197px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 228px;
}

.developer p {
    font-size: 14px;
    line-height: 26px;
    margin-top: 6px;
}

.developer svg {
    width: 115px;
    height: 41px;
}

svg:hover .htmlacademy-logo {
    fill: #81b3d2;
}

svg:active .htmlacademy-logo {
    fill: #bdbbbc;
}

/* Стилизация всплывающего окна */

@keyframes bounce {
    0% {
        transform: translateX(-2000px);
    }

    70% {
        transform: translateX(30px);
    }

    90% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.modal-hotels {
    width: 568px;
    min-height: 395px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    top: 291px;
    left: 316px;
    animation: bounce 0.6s;
    z-index: 5;
}

.modal-close {
    display: none;
}

.hotels-search {
    box-sizing: border-box;
    width: 458px;
    min-height: 285px;
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.modal-hotels input {
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    border: none;
    box-sizing: border-box;
}

.hotels-search-helper {
    margin-bottom: 30px;
}

.modal-hotels .hotels-search-helper {
    width: 458px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.modal-hotels .date-input {
    width: 346px;
    height: 38px;
    padding-right: 39px;
    padding-left: 12px;
}

.modal-hotels .calendar {
    height: 38px;
    width: 39px;
    position: absolute;
    left: 419px;
    background-color: transparent;
    background-image: url(../img/calendar-grey.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-hotels .calendar:hover {
    background-color: transparent;
    background-image: url(../img/calendar.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modal-hotels .calendar:active {
    background-color: transparent;
    background-image: url(../img/calendar-blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}

.modal-hotels .calendar:focus {
    background-color: transparent;
    background-image: url(../img/calendar-blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}

.modal-hotels .calendar:active {
    background-color: transparent;
}

.modal-hotels .hotels-amount-helper {
    box-sizing: border-box;
    width: 458px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.modal-hotels .guests-amount-helper {
    position: relative;
}

.modal-hotels .guests-amount {
    width: 114px;
    height: 38px;
    box-sizing: border-box;
    margin-left: 38px;
    padding-left: 38px;
    padding-right: 38px;
}

.hotels-amount-helper {
    margin-bottom: 54px;
}

.hotels-amount-helper button {
    background-color: transparent;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}

.hotels-amount-helper button:hover {
    background-color: transparent;
}

.hotels-amount-helper button:active {
    background-color: transparent;
}

.modal-hotels .quantity-less-adults {
    left: 112px;
    background-image: url(../img/minus-grey.png);
    background-position: center;
    background-repeat: no-repeat;
}

.modal-hotels .quantity-less-children {
    left: 65px;
    background-image: url(../img/minus-grey.png);
    background-position: center;
    background-repeat: no-repeat;
}

.modal-hotels .quantity-less-adults:hover,
.modal-hotels .quantity-less-children:hover {
    background-image: url(../img/minus-black.png);
}

.modal-hotels .quantity-less-adults:active,
.modal-hotels .quantity-less-children:active {
    background-image: url(../img/minus-blue.png);
}


.modal-hotels .quantity-more-adults {
    top: 0px;
    left: 188px;
    background-image: url(../img/plus-grey.png);
    background-position: center;
    background-repeat: no-repeat;
}

.modal-hotels .quantity-more-children {
    top: 0px;
    left: 140px;
    background-image: url(../img/plus-grey.png);
    background-position: center;
    background-repeat: no-repeat;
}

.modal-hotels .quantity-more-adults:hover,
.modal-hotels .quantity-more-children:hover {
    background-image: url(../img/plus-black.png);
}

.modal-hotels .quantity-more-adults:active,
.modal-hotels .quantity-more-children:active {
    background-image: url(../img/plus-blue.png);
}

.modal-hotels input:hover {
    background-color: #ebebeb;
}

.modal-hotels input:focus {
    background-color: white;
    outline: none;
    border: 2px solid #e5e5e5;
}

.modal-hotels .date-input:focus {
    padding-left: 10px;
}

.modal-hotels .guests-amount {
    text-align: center;
}

.modal-hotels .children-amount {
    margin-left: 22px;
}

.hotels-search-helper label {
    letter-spacing: 0.3px;
}

.modal-hotels input[type="submit"] {
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #81b3d2;
    box-sizing: border-box;
    margin-bottom: 1px;
}

.modal-hotels input[type="submit"]:hover {
    background-color: #669ec0;
}

.modal-hotels input[type="submit"]:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

/* Стилизация страницы поиска отелей */

/* Стилизация блока с фильтрами */

.hotels-parameters {
    background-image: url(../img/filter%20background.jpg);
    background-color: #766357;
    background-repeat: no-repeat;
    background-position: 0% 16%;
    width: 1200px;
}


.filter-hotels {
    display: flex;
    min-height: 217px;
    justify-content: flex-start;
    align-items: flex-start;
}

.filter-hotels fieldset {
    width: 136px;
    border: none;
    padding: 0;
    margin-top: 27px;
}

.filter-hotels .hotel-type {
    margin-left: 117px;
}

.filter-hotels .infrastructure {
    margin-left: 72px;
}

.filter-hotels .cost-per-day {
    margin-left: auto;
    margin-right: 72px;
    width: 318px;
    min-height: 153px;
}

.filter-hotels .price-controls {
    color: white;
    font-size: 14px;
    line-height: 21px;
    width: 318px;
    height: 36px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    box-sizing: border-box;
}

.filter-hotels .price-controls::after {
    content: "";
    width: 2px;
    height: 22px;
    background-color: white;
    position: absolute;
    top: 6px;
    left: 157px;
}

.filter-hotels .min-price,
.filter-hotels .max-price {
    width: 50%;
    text-align: center;
}

fieldset legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: white;
    margin-top: 26px;
}

.cost-per-day legend {
    letter-spacing: 0.2px;
}

.filter-list {
    list-style: none;
    padding-left: 0;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
}

.filter-list label {
    margin-left: 40px;
}

.filter-option {
    position: relative;
}


.filter-option input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    background-image: url(../img/checkbox-off.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:disabled + .checkbox-indicator {
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off-disabled.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on-disabled.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.filter-list label {
    font-size: 14px;
    line-height: 21px;
    color: white;
    font-weight: 400;
}


.range-controls {
    position: relative;
    margin-top: 20px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}


.filter-hotels input[type="submit"] {
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    height: 36px;
    width: 137px;
    border: 2px solid white;
    margin-top: 32px;
    margin-left: 85px;
}

.filter-hotels input[type="submit"]:hover {
    background-color: white;
    color: black;
}

/* Стилизация блока сортировки */

.hotels-sorting {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-list {
    list-style: none;
    padding-left: 0;
}


.hotels-sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 86px;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
}

.hotels-sorting b {
    text-align: center;
    margin-left: 72px;
}

.hotels-sorting h2 {
    font-size: 12px;
    line-height: 18px;
    margin-left: 47px;
    padding-top: 6px;
}

.sorting-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 34px;
}

.sorting-list li:nth-of-type(2),
.sorting-list li:nth-of-type(3) {
    margin-left: 20px;
}

.sorting-order {
    margin-left: auto;
    margin-right: 73px;
    display: inline-block;
    font-size: 0;
}

.sorting-order button {
    background-color: transparent;
    border: none;
    width: 11px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
}

.sorting-order .sorting-ascending {
    background-image: url(../img/icon-up-dir-grey.svg);
}

.sorting-order .sorting-descending {
    background-image: url(../img/icon-down-dir-grey.svg);
    margin-left: 12px;
}

.sorting-order .sorting-ascending:hover {
    background-image: url(../img/icon-up-dir.svg);
}

.sorting-order .sorting-descending:hover {
    background-image: url(../img/icon-down-dir.svg);
}

.sorting-order .sorting-ascending:active {
    background-image: url(../img/icon-up-dir-blue.svg);
    outline: none;
}

.sorting-order .sorting-descending:active {
    background-image: url(../img/icon-down-dir-blue.svg);
    outline: none;
}

.sorting-list button {
    background-color: transparent;
    border: none;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}

.sorting-list .chosen-option {
    color: #81b3d2;
    text-decoration: none;
}

.sorting-list button:hover {
    color: #81b3d2;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}

.sorting-list button:active {
    color: black;
    text-decoration: none;
}


/* Стилизация списка отелей */

.hotels-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: -8px;
    background-color: white;
}

.hotels-list li {
    display: flex;
    align-items: center;
    min-height: 150px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-list img {
    width: 135px;
    margin-left: 72px;
}

.hotel-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    height: 90px;
}

.hotel-name-cost {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}

.hotel-name-cost p {
    flex-basis: 116px;
    margin-top: 5px;

}

.hotel-buttons {
    width: 258px;
}

.hotels-list h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    margin-top: -4px;
    letter-spacing: 0.2px;
}

.hotels-list .hotel-name {
    color: black;
}

.rating-helper {
    height: 92px;
    width: 110px;
    margin-left: auto;
    margin-right: 73px;
}

.hotels-list .hotel-name:hover {
    color: #81b3d2;
}

.hotels-list .hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-list p {
    font-size: 14px;
    line-height: 21px;
    padding-left: 2px;
}

.hotels-list .star-rating {
    height: 17px;
    width: 110px;
    display: flex;
    flex-direction: row-reverse;
}


.hotels-list .rating-number {
    color: #666666;
    background-color: #f2f2f2;
    width: 110px;
    height: 24px;
    margin-top: 46px;
    text-align: center;
    padding-top: 3px;
}

.star {
    width: 18px;
    height: 17px;
    margin-left: 5px;
    background-image: url(../img/star.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.hotel-buttons {
    font-size: 0px;
}

.hotels-list .more-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: #81b3d2;
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hotels-list .more-info:hover {
    background-color: #669ec0;
}

.hotels-list .more-info:active {
    background-color: #5496bd;
    color: rgba(255, 225, 255, 0.3);
}

.hotels-list .booking-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: #766357;
    width: 142px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 6px;
}

.hotels-list .booking-button:hover {
    background-color: #604e43;
}

.hotels-list .booking-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
